body{
    font-family: sans-serif;
}

tHead{
    background-color: #CC0000;
    color: white;
    height: 45px;
}

tfoot{
    background-color: yellow;
    padding: 10px 5px 10px 5px;
    height: 45px;
}

td, th{
    border: 1px solid black;
}

tBody tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
}

table {
    text-align: center
}

#lightgreen{
    background-color: lightgreen;
}

#green{
    background-color: #48AA00;
}