body{
    font-family: sans-serif;
}

td, th{
    border: 1px solid black;
    padding-right: 40px;
}

table {
    border-collapse: collapse;
}

thead{
    font-weight: bold;
}

td#droite{
    padding-right: 0px;
    text-align: right;
}